# Build
bin/
obj/
Debug/
Release/
x64/
x86/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# Database / settings
*.dbmdl
*.mdf
*.ldf

# Temporary files
*.swp
*.tmp
*.cache

# Android specific
*.apk
*.aab

# iOS/macOS (si llegas a compilar para Apple)
*.dSYM/
*.xcuserdata/
*.xcuserstate

#API
apikey.txt

